node_modules
.env
.env.local
.env.production
npm-debug.log
backend/node_modules
worker/node_modules
backend/dist
worker/dist
worker/data
backend/.env.local
backend/.env.production
worker/.env.local
worker/.env.production
frontend/.env.local
frontend/.env.production
