NODE_ENV=development
REDIS_URL=redis://localhost:6379
BACKEND_INTERNAL_URL=http://localhost:3000
WORKER_SECRET=Vp2wRHvJexUtwIXXbJUd5Je2yFmhKwx1uyuYH9yKqZhEwQqWRakgjhGyDnQ7FscT
BAILEYS_STORAGE_PATH=./data
LOG_LEVEL=info
